:root {
  --background-black: hsl(193.3, 9.1%, 19.4%);
  --default-text-color: hsl(0, 0%, 100%);
  --dark-blue: hsl(223.6, 60.3%, 23.7%);
  --light-blue: hsl(206.1, 92.4%, 46.3%);
  --off-white: hsl(0, 0%, 96%);
}

html {
  background-color: var(--background-black);
}

body {
  color: var(--default-text-color);
  font-family: "Raleway", sans-serif;
}

h1 {
  font-size: 2em;
}

header {
  height: 70px;
}

p {
  line-height: 1.5;
}

span {
  font-weight: bold;
}
